# Google Analytics case study;Cyclistic bike share

Scenario
As a junior data analyst working in the marketing analyst team at Cyclistic, a bike-share company in Chicago. The director of marketing believes the companyâ€™s future success depends on maximizing the number of annual memberships. Therefore, my team wants to understand how casual riders and annual members use Cyclistic bikes differently. From these insights, my team will design a new marketing strategy to convert casual riders into annual members. But first, Cyclistic executives must approve your recommendations, so they must be backed up with compelling data insights and professional data visualizations.

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')


# Corrected file path
excel_file_path = 'C:\\Users\\HP\\Downloads\\Case\\Divvy_Trips_2019_Q1.xlsx'

# Read all sheets into a dictionary of DataFrames
all_sheets = pd.read_excel(excel_file_path, sheet_name=None)

# Concatenate the DataFrames from all sheets into one DataFrame
combined_df = pd.concat(all_sheets.values(), ignore_index=True)

In [ ]:
combined_df

# DATA CLEANING PROCESS

In [2]:
combined_df.shape

(3166273, 12)

In [3]:
combined_df.dtypes

trip_id                       int64
start_time           datetime64[ns]
end_time             datetime64[ns]
bikeid                        int64
tripduration                  int64
from_station_id               int64
from_station_name            object
to_station_id                 int64
to_station_name              object
usertype                     object
gender                       object
birthyear                   float64
dtype: object

In [2]:
#Checking for missing values
combined_df.isnull().sum()

trip_id                   0
start_time                0
end_time                  0
bikeid                    0
tripduration              0
from_station_id           0
from_station_name         0
to_station_id             0
to_station_name           0
usertype                  0
gender               450826
birthyear            434079
dtype: int64

In [3]:
#Filling missing values with the mode (most frequent)
combined_df['gender'].fillna(combined_df['gender'].mode()[0], inplace=True)

In [4]:
#Filling missing values with the median
median_birth_year = combined_df['birthyear'].median()
combined_df['birthyear'].fillna(median_birth_year, inplace=True)

In [5]:
combined_df.isnull().sum()

trip_id              0
start_time           0
end_time             0
bikeid               0
tripduration         0
from_station_id      0
from_station_name    0
to_station_id        0
to_station_name      0
usertype             0
gender               0
birthyear            0
dtype: int64

In [6]:
combined_df.duplicated().sum()

0

# DATA MODIFICATION

In [43]:
#cREATING NEW COLUMN RIDE LENGTH
combined_df['ride_length']=abs(combined_df['end_time']-combined_df['start_time'])
combined_df['day_of_week'] = (combined_df['start_time'].dt.dayofweek+ 2) % 7
combined_df['start_month']= combined_df['start_time'].dt.month_name()
combined_df['End_month']= combined_df['end_time'].dt.month_name()
combined_df['start_day']= combined_df['start_time'].dt.day_name()

In [44]:
combined_df

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,ride_length,day_of_week,start_month,End_month,quarter,start_day
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0,0 days 00:06:30,3,January,January,2019Q1,Tuesday
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,441,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0,0 days 00:07:21,3,January,January,2019Q1,Tuesday
2,21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,1524,829,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0,0 days 00:13:49,3,January,January,2019Q1,Tuesday
3,21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,252,1783,123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0,0 days 00:29:43,3,January,January,2019Q1,Tuesday
4,21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,1170,364,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0,0 days 00:06:04,3,January,January,2019Q1,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3166268,25962900,2019-12-31 23:56:13,2020-01-01 00:15:45,2196,1172,112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0,0 days 00:19:32,3,December,January,2019Q4,Tuesday
3166269,25962901,2019-12-31 23:56:34,2020-01-01 00:22:08,4877,1533,90,Millennium Park,90,Millennium Park,Subscriber,Male,1992.0,0 days 00:25:34,3,December,January,2019Q4,Tuesday
3166270,25962902,2019-12-31 23:57:05,2020-01-01 00:05:46,863,520,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0,0 days 00:08:41,3,December,January,2019Q4,Tuesday
3166271,25962903,2019-12-31 23:57:11,2020-01-01 00:05:45,2637,514,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0,0 days 00:08:34,3,December,January,2019Q4,Tuesday
3166272,25962904,2019-12-31 23:57:17,2019-12-31 23:59:18,5930,120,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0,0 days 00:02:01,3,December,December,2019Q4,Tuesday

# DESCRIPTIVE ANALYSIS

Calculate the mean of ride_length

Calculate the max ride_length

Calculate the mode of day_of_week

In [11]:
combined_df['ride_length'].mean()

Timedelta('0 days 00:24:00.971230528')

In [25]:
combined_df['ride_length'].max()

Timedelta('123 days 01:20:22')

In [24]:
combined_df['ride_length'].min()

Timedelta('0 days 00:01:01')

In [13]:
combined_df['ride_length'].mode()

0   0 days 00:05:20
Name: ride_length, dtype: timedelta64[ns]

# EXPLORATORY ANALYSIS

In [14]:
#Total number of times used by each Start stations 
combined_df['to_station_id'].value_counts()

to_station_id
35     65296
91     43192
192    42997
77     40278
43     34399
       ...
562        6
361        5
363        2
1          1
669        1
Name: count, Length: 617, dtype: int64

In [12]:
#Total number of bikes rented at 2019
combined_df['bikeid'].nunique()

6017

In [17]:
#Sum of trips by user type
combined_df.groupby('usertype')['tripduration'].sum()

usertype
Customer      2455554440
Subscriber    2106296728
Name: tripduration, dtype: int64

In [30]:
combined_df['usertype'].value_counts()

usertype
Subscriber    2465955
Customer       700318
Name: count, dtype: int64

In [13]:
#Number of from stations
combined_df['from_station_name'].nunique()

640

In [16]:
#Top 5 stations where riders started
combined_df.groupby('from_station_name')['trip_id'].nunique().nlargest(5)

from_station_name
Streeter Dr & Grand Ave         54077
Canal St & Adams St             46119
Clinton St & Madison St         42060
Clinton St & Washington Blvd    41229
Lake Shore Dr & Monroe St       40704
Name: trip_id, dtype: int64

In [18]:
#Bottom 5 stations where riders started
combined_df.groupby('from_station_name')['trip_id'].nunique().nsmallest(5)

from_station_name
LBS - BBB La Magie                      1
Special Events                          1
DIVVY CASSETTE REPAIR MOBILE STATION    3
Racine Ave & 65th St                    4
Racine Ave & 61st St                    7
Name: trip_id, dtype: int64

In [17]:
#Top 5 stations where riders ended
combined_df.groupby('to_station_name')['trip_id'].nunique().nlargest(5)

to_station_name
Streeter Dr & Grand Ave         65296
Clinton St & Washington Blvd    43192
Canal St & Adams St             42997
Clinton St & Madison St         40278
Michigan Ave & Washington St    34399
Name: trip_id, dtype: int64

In [19]:
#Bottom 5 stations where riders ended
combined_df.groupby('to_station_name')['trip_id'].nunique().nsmallest(5)

to_station_name
LBS - BBB La Magie                      1
Special Events                          1
TS ~ DIVVY PARTS TESTING                2
DIVVY CASSETTE REPAIR MOBILE STATION    5
Racine Ave & 61st St                    6
Name: trip_id, dtype: int64

In [36]:
#Total trip per quarter
combined_df['quarter']=combined_df['start_time'].dt.to_period('Q')
combined_df['quarter'].value_counts()

quarter
2019Q2    1048575
2019Q3    1048575
2019Q4     704054
2019Q1     365069
Freq: Q-DEC, Name: count, dtype: int64

In [39]:
#Most occuring age of users
combined_df['birthyear'].mode()

0    1987.0
Name: birthyear, dtype: float64

In [42]:
#Busiest Month and days
result=combined_df.groupby('start_month')['trip_id'].nunique()
result.sort_values(ascending=False)

start_month
July        557315
August      491260
June        415807
October     371786
May         367458
April       265310
November    177176
March       165611
December    155092
January     103272
February     96186
Name: trip_id, dtype: int64

In [48]:
result=combined_df.groupby(['start_day', 'usertype'])['trip_id'].nunique()
result.sort_values(ascending=False)

start_day  usertype
Tuesday    Subscriber    423379
Wednesday  Subscriber    417095
Thursday   Subscriber    405072
Monday     Subscriber    388161
Friday     Subscriber    381406
Saturday   Subscriber    233311
Sunday     Subscriber    217531
Saturday   Customer      159998
Sunday     Customer      139272
Friday     Customer       97436
Thursday   Customer       80882
Monday     Customer       77444
Wednesday  Customer       73026
Tuesday    Customer       72260
Name: trip_id, dtype: int64

# Recommendations

1. Seasonal Trends: Focus marketing efforts on promoting bike usage during Quarters 2 and 3, as these are peak seasons for rides.

2. Station Optimization: Prioritize resources and promotions at Streeter Dr & Grand Ave, the busiest starting station, to meet the high demand.

3. Ride Duration Strategies: Tailor promotions for subscribers emphasizing shorter, frequent trips. Consider incentives for longer rides to attract more customers.

4. Day-Specific Marketing: Design targeted promotions for Saturdays to attract casual riders and consider special promotions on Tuesdays to engage annual members.

5. User Demographics: Craft marketing campaigns targeting users born in 1987, the majority birth year. This could include personalized promotions or events appealing to this age group.

In summary, tailor marketing strategies based on seasonal trends, station popularity, user ride behaviors, specific days of the week, and demographic information. This approach can enhance user engagement, attract new riders, and improve overall customer satisfaction.